@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body,
html {
  padding: 0;
  margin: 0;
}

body {
  background: #FFF - 30;
}

nav {
  width: 100%;
  position: fixed;
  background: #000;
  min-height: 65px;
  opacity: 0.8;
}

.logo img {
  width: 100%;
}

#burger {
  color: #FFF;
  padding: 20px;
  float: right;
}

.bar {
  height: 65px;
  float: right;
  a {
    color: #FFF;
    text-decoration: none;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
  }
  ul {
    opacity: 0;
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
    background: #000;
    transition: all 0.4s ease;
  }
  ul a {
    display: block;
    padding: 10px;
  }
}

.show ul {
  opacity: 1;
}

.pixar img {
  padding: 20px;
  float: left;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  padding-top: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 2px;
  margin: 2% 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  h2 {
    font-size: 25px;
    width: 20%;
    border: 2px solid #000;
    padding: 10px;
  }
}

.movie {
  margin: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.media {
  padding: 5px 10px;
  height: 94px;
  margin: 15px;
  background: #FFF;
  border: 5px solid #FFF;
  display: flex;
  flex-direction: column;
  label {
    width: 100%;
    margin: 6% 0 0 2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80%;
    text-align: center;
  }
}

#short-film {
  // padding: 5% 0;
  .media {
    height: 134px;
  }
}

.social {
  display: flex;
  justify-content: center;
  i {
    font-size: 50px;
    color: #666;
    margin: 15px;
  }
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.story {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin: 10% 0;
  margin-left: auto;
  margin-right: auto;
  h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
  }
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    // text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
  }
  #address,
  #phone {
    width: 800px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
  }
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .tl-item {
    background: #FFF;
    margin: 5px;
  }
  h4 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 100%;
  }
  p {
    width: 300px;
    padding: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80%;
  }
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  p {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 70%;
    margin: 0.5%;
    text-align: center;
  }
  p a {
    text-decoration: none;
    color: #666;
  }
}

@media (min-width: 1000px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #burger {
    display: none;
  }
  .bar {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    ul {
      display: block;
      position: relative;
      top: 0;
      background: none;
      opacity: 1;
    }
    ul a {
      display: inline-block;
      padding: 0;
    }
  }
  .logo img {
    width: 100%;
  }
}